<h1 class="mb-4">Ranking</h1>

{{#if rankings.length}}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jogador</th>
      <th scope="col">Pontuação</th>
    </tr>
  </thead>
  <tbody>
    {{#each rankings}}
    <tr>
      <td>{{posicao}}</td>
      <td>{{nome}}</td>
      <td>{{pontuacao}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p class="text-muted">Nenhuma pontuação registrada ainda. Jogue e faça seu score!</p>
{{/if}}
