<div classes="mt-4 flex">
  <h3>Lista de cursos</h3>
  <h4><a href="/major">Link para os cursos<i class="bi bi-arrow-left-square"></i></a></h4>
</div>
<form action="major/update{{major.id}} method=" post">
  {{majorForm}}
</form>
