<link rel="stylesheet" href="/css/forms.css">
<form class="myform" action="/login" method="post">
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" name="email">
  <label for="floatingInput">Email</label>
</div>
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingPassword1" name="password">
  <label for="floatingPassword1">Senha</label>
</div>
<button type="submit" class="btn btn-primary">Enviar</button>
</form>
