<h1>{{titulo}}</h1>
<img src="/img/jogo.png" height="500px"/>
<br>
<h2>Descrição do Funcionamento</h2>
<img src="/img/jogo2.png" height="500px"/>
<p>Navegue pelos nós do grafo por meio das setas do teclado e escolha o destino com a tecla R. Lute contra os inimigos apertando a tecla correspondente a habilidade. O XP obtido com a derrota dos inimigos pode ser utilizado para comprar itens e atributos nos nós de "loja". A cada vez que o boss é derrotado, um novo grafo é gerado com mais inimigos. O estado do jogo é salvo a cada nó explorado e pode ser recuperado na tela inicial.</p>
<br>
<h2>Divisão de Responsabilidades</h2>
{{{listIntegrantes pessoas}}}
<p>Todos foram encarregados da correção de bugs/comportamentos inesperados. </p>
<br>
<h2>Créditos</h2>
{{{listCredits sons sprites}}}
<div>
    <p>Favicon: <a href="https://clockworkraven.itch.io/raven-fantasy-icons">Raven Fantasy Icons</a></p>
</div>
